.UsersComponent{

}

.img-profile{
	text-align: center;
}

.img-profile img{
	border-radius: 50%;
	background-color: transparent;
	width: 200px;
	height:200px;
	border: solid 5px #FFF;
}

.profile .username{
	text-align: center;
	color: #FFF;
	padding-top: 85px;
}

.profile .username h3{
	color: #FFF;
	font-weight: bold;
	font-size: 35px;
}
.row2{
	display: flex;
}