.RegisterComponent {
 	background-color: #FFF;
	font-family: Titillium;
}
.title img{
	width: 100%;
	padding-top: 12%;
	padding-left: 10%;
	padding-right: 10%;
}


.titleregistro img{
	 margin-top: 40px;
	 padding-left: 10%;
	 padding-right: 10%;
	 width: 100%;
}

.container .form-grup{
	text-align: center;
}

.form-element{
	margin-top:20px;
}

.form-element input{
	padding-left: 8px;
	width: 80%;
	margin-left: 10%;
	border-radius: 30px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	color: white;
}
input::-webkit-input-placeholder {
  color: white;
  font-size: 25px;

}
input:-moz-placeholder {
  color: white; 
  font-size: 25px;
}
input:-ms-input-placeholder { 
  color: white;
  font-size: 25px; 
}


.terms{
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
}

.terms .btnTerm{
	border-radius: 50%;
	background-color: #2ECC71;
	width: 50px;
    height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
    border-radius: 50%;
}

.terms p{
	font-size: 17px;
	text-decoration: none;
	color: #3498db;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-top: 7px;
}
.login{
	text-align: center;
	padding-top: 30px;
}

.login a{
	font-size: 17px;
	text-decoration: none;
	color: #3498db;
}


.btnlarge{
	position: relative !important;
}

.btnlarge a.btn{
	border-radius: 58px 58px 58px 58px;
	-moz-border-radius: 58px 58px 58px 58px;
	-webkit-border-radius: 58px 58px 58px 58px;
	border: 0px solid #000000;
	width: 80%;
	height: 40px;
	margin-left: 10%;
	color: #3293d4;
	background-color: white;
	text-align: center;
	text-decoration: none;
	position: absolute;
	font-size: 28px;
	padding-top: 8px;
}