<ion-view view-title="Register" hide-nav-bar="true">
  <ion-content class="RegisterComponent"  scrollY="true">
    <div class="title">
    	<img src="./assets/img/logoblue.png" />
    </div>
    <div  class="titleregistro">
        <img src="./assets/img/reg-02.png"/>
    </div>
    <div class="container">
    	<div class="form-grup">
    		<form action="">
    			<div class="form-element">
    				<input class="degradadoGris" type="text" placeholder="Nombre" ng-model="user.name">
    			</div>
                <div class="form-element">
                    <input class="degradadoGris" type="date" placeholder="Fecha de nacimiento" ng-model="user.date">
                </div>
    			<div class="form-element">
    				<input class="degradadoGris" type="email" placeholder="Correo electronico" ng-model="user.mail">
    			</div>
    			<div class="form-element">
    				<input class="degradadoGris" type="password" placeholder="Contraseña" ng-model="user.password">
    			</div>
               
    		</form>
    	</div>
    	<div class="terms">
        <div class="btnTerm">
            
        </div>

    		<p>Acepto los términos de privacidad y servicio de Shopper Milesssss</p>
    	</div>
        <div id="botones">
          <a href="" class="button button-block btncontinuar degradadoblueX">
            Continuar
          </a>
        </div>
        <div class="login">
            <a href="#/login"><p>Ya tienes una cuenta? Ingresa aquí</p></a>
        </div>
    </div>
  </ion-content>
</ion-view>
