<ion-view view-title="Register" hide-nav-bar="true">
  <ion-content class="RegisterComponent"  scrollY="true">
    <div class="title">
    	<h1>Shopper Miles</h1>
    </div>
    <div class="container">
    	<div class="form-grup">
    		<form action="">
    			<div class="form-element">
    				<input type="text" placeholder="Nombre" ng-model="user.name">
    			</div>
    			<div class="form-element">
    				<input type="email" placeholder="Correo electronico" ng-model="user.mail">
    			</div>
    			<div class="form-element">
    				<input type="password" placeholder="Contraseña" ng-model="user.password">
    			</div>
    			<div class="form-element">
    				<input type="text" placeholder="Fecha de nacimiento" ng-model="user.date">
    			</div>
    		</form>
    	</div>
    	<div class="terms">
    		<p>Regístrandote aceptas</p> <p>los términos de privacidad de master shopper</p>
    	</div>
        <div class="btnlarge">
            <a ng-click="verificar()" class="btn">Continuar</a>
        </div>
        <div class="login">
            <a href="#/login"><p>Ya tienes una cuenta? Ingresa aquí</p></a>
        </div>
    </div>
  </ion-content>
</ion-view>
