.row .col .title-tarea h3{
	text-align: center;
}

.tareaContent{
	width: 100%;
	height: 70px;
	position: absolute;
	background-color: #000;
}
.tareas .listat{
	margin-bottom: 10px;
}
.tareaContent .texto p{
	color: white;
	padding-top: 20px;
	padding-left: 15px;
}
.tareaContent .puntos{
	width: 15%;
	border-radius: 20px;
	background-color: #FFF;
	text-align: center;
	height: 50%;
	padding-top: 7px;
	margin-top: 15px;
	font-weight: bold;
	color: #2980B9;margin-left: 5px;
}

.tareaContent .completado{
	width: 35px;
    height: 35px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #FFF;
    margin-top: 12px;
    margin-left: 5px;
    padding-top: 4px;
    padding-left: 3.5px;
}
.tareaContent .completado .capa1{
	width: 27px;
    height: 27px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #95A5A6;
  	padding-top: 3px;
  	padding-left: 3px;
}
.tareaContent .completado .capa2{
	width: 21px;
    height: 21px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #FFF;
  
}

.tareas .description{
	border-radius: 0px 0px 25px 25px;
	-moz-border-radius: 0px 0px 25px 25px;
	-webkit-border-radius: 0px 0px 25px 25px;
	border: 0px solid #000000;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 160px;
}
.listat .description{
	padding-top: 80px;
}