.preg{
	color: white;
	font-size: 15px;
}

.dudareclamo{
	font-size: 14px;
	text-decoration: none;
	color: white;
}
.inputrespuesta{
	color: #2980b9 !important;
	font-size: 23px !important;
	height: 55px !important;
}

#headpreg h1{
	color: white !important;
	font-size: 25px;
	font-weight: bold;
}
.miresp{
	background-color: white;
	color: black !important;
}
.btnsino .col-50 button{
	color: white !important;
}
.vvv:active{
	color: #2980b9 !important;
}