.preg{
	color: white;
	font-size: 15px;
}

.dudareclamo{
	font-size: 14px;
	text-decoration: none;
	color: white;
}
.inputrespuesta{
	color: #2980b9 !important;
	font-size: 23px !important;
	height: 55px !important;
}
#headpreg h1{
	color: white !important;
	font-size: 25px;
	font-weight: bold;
}
#headpreg{
	border-bottom: 0;
}
.miresp{
	background-color: white;
	color: black !important;
}
.fastQuestionComponent{
	padding-bottom: 150px;
}