<ion-view view-title="Bond">
  <div class="degradadogris headgray">

  </div>
  <!--barra de puntos-->
  <div class="puntos">
    <div class="xp">
      <div class="capacirculo">
        <div class="capacirculo2">
          <div class="capacirculo3">
            <h2>1</h2>
          </div>
        </div>
      </div>
      <div class="barrapuntos">
        <div id="xperience" class="barrapuntosconten">

        </div>
        <h6>{{user.xperience}}xp</h6>
      </div>
    </div>
    <div class="sm">

      <div class="capacirculo">
        <div class="capacirculo2">
          <div class="capacirculo3">
            <img src="./assets/img/bolsa.png" alt="">
          </div>
        </div>
      </div>
      <div class="barrapuntos">
        <div id="shopper" class="barrapuntosconten">

        </div>
        <h6>{{user.shopper_points}}s</h6>
      </div>
    </div>
  </div>
  <ion-content class="BondsComponent" style="margin-bottom: 50px;" overflow-scroll="true">
    <div class="row head titulobond">
      <h2>Redime tus SM <br> por bonos increíbles </h2>
    </div>
    <!--swich tiendas/bonos-->
    <div class="sw">
      <label class="switch0" ng-click="btnbonos()">
            <input type="checkbox" ng-model="bonos" ng-init="bonos=false">
            <div class="slider0 round0">
                <div class="tienda">
                  Tienda
                </div>
                <div class="tienda">
                  Tus Bonos
                </div>
            </div>
          </label>
    </div>

    <!--container tienda-->
 
      <div ng-if="!bonos" class="tiendas animate-if" id="tiendas">
        <ion-item class="degradadoGris tamitem" ng-repeat="tienda in bonds">
          <div class="imag">
            <img ng-src="{{tienda.img}}" alt="">
          </div>
          <div class="contenidotienda">
            <div class="condicionbono">
              <p>Bono valido para compras de cualquier producto en tiendas físicas {{tienda.name}}</p>
            </div>
            <div class="bonos">
              <div class="value1 bono bonoSimple text-center" ng-click="tienda.valorIntercambio=cambiarBonoValor(tienda.value1, tienda.factorConversionShopy, 'value1', tienda.id)">
                <p>{{tienda.value1}}</p>
              </div>
              <div class="value2 bono bonoSimple text-center" ng-click="tienda.valorIntercambio=cambiarBonoValor(tienda.value2, tienda.factorConversionShopy, 'value2', tienda.id)">
                <p>{{tienda.value2}}</p>
              </div>
              <div class="value3 bono bonoSimple text-center" ng-click="tienda.valorIntercambio=cambiarBonoValor(tienda.value3, tienda.factorConversionShopy, 'value3', tienda.id)">
                <p>{{tienda.value3}}</p>
              </div>
            </div>
            <div class="btnstienda">
              <div class="descr">
                <div class="btnPregunta" style="margin-top: 5px; text-align: center; margin-left: 10px;">
                  ?
                </div>
              </div>
              <div class="btncambio">
                <div class="btnc" ng-click="tienda.valorIntercambio && cambiarBono(tienda.id, tienda.valorIntercambio)">
                  <a href="" title="">Cámbialo por: <span ng-if="tienda.valorIntercambio" >{{tienda.valorIntercambio+'s'}}</span></a>
                </div>
              </div>
              <div class="btncompartir">
                <div class="comparti">
                  <i class="icon ion-ios-upload-outline"></i>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>
        </ion-item>
      </div>
  
    <!--Container tus bonos-->
    <div ng-if="bonos" class="tiendas animate-if" id="bonos">
      <ion-item class="degradadoblueX tamitem" ng-repeat="bono in bonds">
        <div class="imag">
          <img ng-src="{{bono.img}}" alt="">
        </div>
        <div class="contenidotienda">
          <div class="condicionbono">
            <p>{{bono.description}}</p>
          </div>
          <div class="bonocosto">
            <h2>${{bono.value}}</h2>
          </div>
          <div class="btnstienda">
            <div class="descr">
              <div class="btnPregunta" style="margin-top: 5px; text-align: center; margin-left: 10px;">
                ?
              </div>
            </div>
            <div class="btncambio">
              <div class="btnc">
                <a href="" title="">Código</a>
              </div>
            </div>

          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer class="foot" style="bottom:0px; position: absolute; z-index: 4">
    <div class="conten-footer">
      <a href="#/home" class="home-btn degradadoGris">
               <i class="ion-ios-home" aria-hidden="true"></i>
          </a>
      <div class="task-btn degradadoGris">
        <a href="#/task">
          <p style="text-align: center">Tareas</p>
        </a>
      </div>
      <div class="challenge-btn degradadoblueX" style="height: 50px; margin-top: 0px; ">
        <a href="#/challenge">
          <p style="padding-top: 5px; font-size:20px;">Bonos</p>
        </a>
      </div>
      <a href="#/user" class="profi-btn degradadoGris"> 
               <i class="ion-person" aria-hidden="true"></i>
           </a>

    </div>

  </ion-footer>

</ion-view>
