.HomeComponent {
  background: while;
}

.title{
	text-align: center;
}
.title h3{
	font-weight: bold;
	font-family: Titillium;
}

.slide{
	background-color: #bdc3c7;
}

.promo{

}

.promo .promo-mitad{
	background-color: #bdc3c7;
	height: 200px;
	width: 48%
}

.nav{

}

/*css para el footer (navegacion home, tareas, desafios, perfil)*/
.conten-footer{
	display: flex;
	width: 100%;
	text-align: center;
	color: #FFF;
	bottom: 0px;
	height: 50px;
	position: fixed;
}

.conten-footer .home-btn{
	width: 15%;
	height: 40px;
	margin-top: 10px;
	padding-top:7px;
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border: 1px solid #95A5A6;

}

.conten-footer .task-btn{
	width: 35%;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	padding-top:7px;
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border: 1px solid #95A5A6;
}
.conten-footer p{
	padding-top: 4px;
	font-size: 20px;
}

.conten-footer .challenge-btn{
	width: 35%;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	padding-top:7px;
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border: 1px solid #95A5A6;
}

.conten-footer .profi-btn{
	width: 15%;
	height: 40px;
	margin-top: 10px;
	padding-top:7px;
	border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
	-webkit-border-radius: 15px 15px 0px 0px;
	border: 1px solid #95A5A6;
}

.conten-footer a{
	width: 100%;

	text-decoration: none;
	color: #FFF;
	text-align: center !important;
}

i.ion-ios-home{
	font-size: 2em;
}

i.ion-person{
	font-size: 2em;
}
