.HomeComponent {
  background: while;
}
.row{
	position: relative;
	display: inline;
}


.title{
	text-align: center;
}
.title h3{
	font-weight: bold;
	font-family: Titillium;
}

.slide{
	background-color: #bdc3c7;
}

.promo{

}

.promo .promo-mitad{
	background-color: #bdc3c7;
	height: 200px;
	width: 48%
}

.nav{

}


/*css para el footer (navegacion home, tareas, desafios, perfil)*/
.conten-footer{
	display: flex;
	width: 100%;
	text-align: center;
	color: #FFF;
	bottom: 0px;
}

.conten-footer .home-btn{
	width: 15%;
	background-color: #95a5a6;
	height: 100%;
	margin-right: 1%;
	padding-top:3px;
}

.conten-footer .task-btn{
	width: 35%;
	background-color: #95a5a6;
	height: 100%;
	margin-right: 1%;
	text-align: center;
	padding-top:3px;
}
.conten-footer p{
	padding-top: 4px;
	font-size: 20px;
}

.conten-footer .challenge-btn{
	width: 35%;
	background-color: #95a5a6;
	height: 100%;
	margin-right: 1%;
	text-align: center;
	padding-top:3px;
}

.conten-footer .profi-btn{
	width: 15%;
	background-color: #95a5a6;
	height: 100%;
	padding-top:3px;
}

.conten-footer a{
	width: 100%;

	text-decoration: none;
	color: #FFF;
	text-align: center !important;
}

i.ion-ios-home{
	font-size: 2em;
}

i.ion-person{
	font-size: 2em;
}
