/*
 *main
 */
.popup-container{
	background-color: #3989be !important;
	//opacity: 0.8;
}

.popup{
    background-color: #2ecc71 !important;
    border-radius: 25px !important;
}
.popup-head h3{
	font-size: 30px !important;
	font-weight: bold !important;
	color: white !important;
}
h3{
	color: white;
}
.popup-head{
	border-bottom: 0 !important;
}
#star{
	color: white;
	font-size: 10em;
}