<ion-view view-title="Grimorum" hide-nav-bar="true">

  <ion-content class="" overflow-scroll="">

<div class="title">
	<img src="./assets/img/logoblue.png" />
</div>
<div  class="titleregistro">
    <img src="./assets/img/reg-02.png"/>
</div>	


	<div class="form-element">
		<input class="degradadoGris" type="text" placeholder="Usuario" ng-model="user.user">
	</div>
	<div class="form-element">
		<input class="degradadoGris" type="password" placeholder="Contraseña" ng-model="user.password">
	</div>

    <button class="button button-positive" ng-click="showAlert()">
      Alert
    </button>


  </ion-content>
	<div id="botones">
		<a href="" class="button button-block btncontinuar degradadoblueX">
		Ingresar
		</a>

	<div class="login">
	    <a href="#/register"><p>No tienes una cuenta? Regístrate aquí</p></a>
	</div>
	</div>
    
</ion-view>
