<div class="conten-pts">
	<div class="bar-pts">
        <div class="conten-bar">
            <div class="level-circle">
                1
            </div>
            <div class="mypts" style="padding-top: 10px; width: 105px;">
               100pt 
            </div>
        </div>
    </div>
    <div class="bar-cash">
        <div class="conten-bar">
            <div class="icon-circle">
                <i class="fa fa-database fa-2x" aria-hidden="true" style="color:#FFF; padding-top: 6px;"></i>
            </div>
            <div class="user-cash">
                $0
            </div>
        </div>
    </div>
</div>