<ion-tabs >
  <ion-tab title="inicio" href="#/tab/home">
  	<ion-nav-view  name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="tareas" href="#/tab/task">
  	<ion-nav-view name="tab-task"></ion-nav-view>
  </ion-tab>
  <ion-tab title = "otro">
  	<ion-nav-view></ion-nav-view>
  </ion-tab>
  <ion-tab title = "usuario" href="#/tab/user">
  	<ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>
</ion-tabs>

 <div class="puntos">
        <div class="xp">
            <div class="capacirculo">
                <div class="capacirculo2">
                    <div class="capacirculo3">
                        <h2>1</h2>
                    </div>
                </div>
            </div>
            <div class="barrapuntos">
                <div class="barrapuntosconten">
                    
                </div>
                <h6>200/1000px</h6>
            </div>
        </div>
        <div class="sm">
            
            <div class="capacirculo">
                <div class="capacirculo2">
                    <div class="capacirculo3">
                       <img src="./assets/img/bolsa.png" alt="">
                    </div>
                </div>
            </div>
            <div class="barrapuntos">
                <div class="barrapuntosconten">
                    
                </div>
                <h6>150sm</h6>
            </div>
        </div>
        
    </div>

    <!--<ion-footer class="" style="bottom:0px;">
       <div class="conten-footer">
           <div class="home-btn degradadoGris">
               <a href="#/home"><i class="ion-ios-home" aria-hidden="true"></i></a>
           </div>
           <div class="task-btn" style="height: 50px; margin-top: 0px; background-color: #2980B9; ">
               <a href="#/task"><p style="text-align: center">Tareas</p></a>
           </div>
           <div class="challenge-btn degradadoGris">
               <a href="#/challenge"><p>Desafíos</p></a>
           </div>
           <div class="profi-btn degradadoGris" >
               <a href="#/user"><i class="ion-person" aria-hidden="true"></i></a>
           </div>
       </div>
   </ion-footer>-->
